<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bio</title>
	<style type="text/css">
		body{
			background-color: #DABFFF;
			margin: 2%;
		}
		.intro{
			text-align: center;
			border: 3px inset #70566D;
			margin: 0% 35% 0% 35%;
			padding: 1% 0% 1% 0%;
			font-family: Helvetica;
		}
		p{
			font-family: Comic Sans MS;
			font-size: 125%;
		}
	</style>
</head>
<body>
	<h3 class="intro">Name: Aranya Jha<br>
		Registration Number: 201800077<br>
		Email ID: <a href="mailto: aranyajha2000@gmail.com ">aranyajha2000@gmail.com</a>
	</h3>
	<h2><b><u>Short Bio: </u></b></h2>
	<p>I am a girl who has been born and brought up in the beautiful state of Sikkim, India and done my 
		schooling from Holy Cross School, Tadong. I am currently a B-Tech 3rd year student, pursuing 
		<abbr title="Computer Science &amp; Engineering">CSE</abbr> from Sikkim Manipal Institute of Technology.
		 I am skilled in C, C++, &amp; Java and have the basic understanding of Data Structure, Python and SQL.
		I am building my knowledge of web development.<br> 
		Being an animal lover I have deep interest in wildlife and am willing to help and contribute for 
		animal/wildlife welfare. I am also an adventurer having done mountaineering courses and trekking.</p>
</body>
</html>